pre {
    border: 1px solid silver;
    border-radius: 6px;
    padding: 6px;
    tab-size: 2;
}
pre.code,
pre code {
    background-color: #333;
    border-radius: 3px;
    color: white;
    display: block;
    line-height: 1.4;
}
input.empty,
input.invalid {
    outline: 2px solid tomato;
}
.section-title-0__container {
    display: none;
}


@media (min-width: 600px) {
    .settings__navigation-item.selected .settings__navigation-link {
        border-right: 1px solid #666;
    }
}